<!-- Footer -->
<footer class="page-footer font-small primary-color">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">Ericsson - UPM</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->