<form id="new_order_form" method="POST" action="/order-manager/order" class="text-center">
    <h5 class="white-text text-left" primary-color>Order title</h5>
    <div class="md-form">
        <input type="text" id="order_title" name="orderTitle" class="form-control" value="{{order.title}}">
        <label for="order_title">Title</label>
    </div>
    <h5 class="white-text text-left" primary-color>Items</h5>
    {{#order.items}}
        <div class="md-form">
            <input type="text" id="order_name_1" name="element" class="form-control" value="{{name}}">
            <label for="order_name_1">Item</label>
        </div>
    {{/order.items}}
     <button id="add_item_btn" type="button" class="btn btn-primary btn-md">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
        Add Item
     </button>
</form>